*.iml
.gradle
.kotlin
/local.properties
/.idea/artifacts
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/gradle.xml
/.idea/compiler.xml
/.idea/androidTestResultsUserPreferences.xml
/.idea/misc.xml
/.idea/shelf
/.idea/assetWizardSettings.xml
/.idea/copilot
/.idea/appInsightsSettings.xml
/.idea/other.xml
.DS_Store
/build
*/build
**/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/deploymentTargetDropDown.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/jarRepositories.xml
/.idea/codeStyles/Project.xml
.idea/appInsightsSettings.xml
.idea/deploymentTargetSelector.xml
iosApp/apollo-ios-cli
iosApp/scripts/apollo-ios-cli
/shared/core/arch/build
iosApp/ITGraphQL/Sources/ITGraphQL/generated
iosApp/CZGraphQL/Sources/CZGraphQL/generated
iosApp/SKGraphQL/Sources/SKGraphQL/generated
iosApp/ITGraphQL/Sources/ITGraphQL/graphql/apollo-ios-cli
iosApp/CZGraphQL/Sources/CZGraphQL/graphql/apollo-ios-cli
iosApp/SKGraphQL/Sources/SKGraphQL/graphql/apollo-ios-cli
.idea/artifacts/kmp_keys_base_jvm.xml
.idea/artifacts/kmp_keys_common_jvm.xml
.idea/artifacts/kmp_keys_ios_jvm.xml
